      <div class="row">
          <div class="col-6">
           <app-dona titulo="ventas"
          
           ></app-dona>
          </div>
          <div class="col-6">
            <app-dona
             titulo="inventario"
            [labels]="labels1"
            [data]="data1">
          </app-dona>
          </div>
          <div class="col-6">
            <app-dona titulo="bodega"></app-dona>
          </div>
          <div class="col-6">
            <app-dona titulo="vitrinas"></app-dona>
          </div>
        </div>